@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

header {
  @apply pt-12;
}

section {
  @apply py-24;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 105%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#000, #000);
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 105%;
}

.svg {
  @apply text-4xl md:text-2xl fill-black hover:fill-blue-400 hover:translate-y-[-15%] hover:scale-125 transition-all;
}

.heading-2 {
  @apply font-semibold text-2xl text-blue-800 mb-5 flex items-center gap-1;
}

.heading-3 {
  @apply font-semibold text-blue-700 text-xl mb-2 flex items-center gap-1;
}

.center {
  @apply w-fit mx-auto;
}

.btn {
  @apply flex items-center gap-1 font-mono px-3 py-2 rounded-sm hover:scale-110 transition-all;
}

.info-block {
  @apply flex flex-col gap-8 sm:gap-5;
}

.info-block > .info {
  @apply h-16;
}

.info-block > .info > :first-child {
  @apply font-bold;
}

.info-block > .info > :nth-child(2) {
  @apply font-light;
}

.skill_item {
  @apply btn cursor-pointer flex items-center gap-3 border-2 bg-white border-gray-300 rounded-lg p-3;
}

.text_field {
  @apply border rounded-md p-2;
}

.map_container {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
